<ion-header>
  <ion-toolbar>
    <!--Waves Container-->
    <div class="header">
      <div>
        <ion-buttons>
          <ion-menu-button menu="empleado" slot="start"></ion-menu-button>
          <ion-title>Productos</ion-title>
          <ion-button (click)="anadirProducto(null)" slot="end" *ngIf="(clienteActual==null && empleadoActual!=null && empleadoActual.esAdministrador)">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        
        <ion-buttons slot="end">
          
        </ion-buttons>
        
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
          
          <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>
          <g class="parallax">
            <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
            <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
          </g>
          
        </svg>
      </div>
      <!--Waves end-->

    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let producto of productos">
    <div *ngIf="producto.activo || (!producto.activo && !activos)">
      <ion-card-content style="background-color: white;">
        <ion-row>
          <ion-col size="6">
            <ion-avatar>
              <img [src]="producto.imagen">
            </ion-avatar>
            
          </ion-col>
          <ion-col size="6">
            <ion-icon name="text-outline"></ion-icon><p class="textoInfo">{{producto.nombre}}</p>  
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            
          </ion-col>
          <ion-col size="6">
            <p class="textoInfo">{{producto.precio}}</p><ion-icon name="logo-euro"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="empleadoActual.esAdministrador">
          <ion-col size="6">
            <ion-button (click)="anadirProducto(producto)" expand="full" *ngIf="(clienteActual==null && empleadoActual!=null && empleadoActual.esAdministrador)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button (click)="deleteProducto(producto)" expand="full" *ngIf="(clienteActual==null && empleadoActual!=null && empleadoActual.esAdministrador)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        
      </ion-card-content>
    </div>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="mostrarActivos()">
      <ion-icon *ngIf="!activos" name="checkmark-circle-outline"></ion-icon>
      <ion-icon *ngIf="activos" name="checkmark-circle-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
