<ion-menu side="start" menuId="empleado" contentId="main" *ngIf="empleado!=null">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>{{empleado.nombre}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item>Empleados</ion-item>
        <ion-item>Clientes</ion-item>
        <ion-item>Menús</ion-item>
        <ion-item>
          <ion-row>
            <ion-col>
              <div class="iconoFirestore"></div>
            </ion-col>
            <ion-col>
              Mesas
            </ion-col>
          </ion-row>
          
        </ion-item>
        <ion-item><ion-icon name="today-outline" class="iconoMenu"></ion-icon>Fichajes</ion-item>
        <ion-item>Pedidos</ion-item>
        <ion-item><ion-icon name="fast-food-outline" class="iconoMenu"></ion-icon>Productos</ion-item>
        <ion-item><ion-icon name="person-circle-outline" class="iconoMenu"></ion-icon>Cuenta</ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="empleado"></ion-menu-button>
    </ion-buttons>
    <ion-title>homeEmpleado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>