<ion-content>
  <p class="titulo">Bienvenido</p>
  <p class="texto">¿Quien eres?</p>
  <ion-row>
    <ion-col>
      <ion-label class="textoCliente">Cliente</ion-label>
    </ion-col>
    <ion-col>

    </ion-col>
    <ion-col>
      <ion-label class="textoEmpleado">Empleado</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col routerLink="/login-cliente-page" routerDirection="forward" id="cliente">
      <ion-card class="clienteCard">
          <ion-card-content expand="block" class="info">
            
          </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-icon name="swap-horizontal-outline" class="iconoSeparador"></ion-icon>
    </ion-col>
    <ion-col routerLink="/login-empleado-page" routerDirection="forward">
      <ion-card class="empleadoCard">
        <ion-card-content expand="block" class="info">
          
        </ion-card-content>
    </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
