<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Crear alimento</title>
  </head>
  <body>
    <h1>Creación de alimento</h1>
    
    <form method="post" th:action="@{/alimento/guardar}" th:object="${alimento}">
        
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" th:field="*{nombre}">
           </div>
          <div class="mb-3">
            <label for="grprot" class="form-label">Proteinas</label>
            <input type="number" class="form-control" id="cantidad" th:field="*{grprot}">
          </div>
          <div class="mb-3">
            <label for="grgrasa" class="form-label">Grasas</label>
            <input type="number" class="form-control" id="cantidad" th:field="*{grgrasa}">
          </div>
          <div class="mb-3">
            <label for="grhidratos" class="form-label">Hidratos</label>
            <input type="number" class="form-control" id="cantidad" th:field="*{grhidratos}">
          </div>
         
          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>

  </body>
</html>