<ion-header>
  <ion-toolbar>
    <!--Waves Container-->
    <div class="header">
      <div>
        <ion-buttons>
          <ion-menu-button menu="empleado" slot="start"></ion-menu-button>
          <ion-title>Fichajes</ion-title>
          <ion-button (click)="anadirFichaje(null)" slot="end"
            *ngIf="(clienteActual==null && empleadoActual!=null && empleadoActual.esAdministrador)">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">

        </ion-buttons>

        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">

          <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>
          <g class="parallax">
            <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
            <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
          </g>

        </svg>
      </div>
      <!--Waves end-->

    </div>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="empleadoActual!=null && empleadoActual.esAdministrador">
  <ion-card *ngFor="let fichaje of fichajes" class="cardContentStyle">
    <div *ngIf="fichaje.activo || (!fichaje.activo && !activos)">
      <!--FICHAJE ABIERTO Y ACTIVO-->
      <ion-card-content class="cardContenidoFichajeAbierto" *ngIf="fichaje.horaSalida==null && fichaje.activo">
        <ion-row>
          <ion-col size="4">
            <p *ngIf="!empleadoActual.esAdministrador" class="textoInfo" style="color: black; margin-top: 5%;">{{fichaje.empleado.usuario}}</p>
            <p *ngIf="empleadoActual.esAdministrador" class="textoInfo">{{fichaje.empleado.usuario}}</p>
          </ion-col>
          <ion-col size="8">
            <p style="margin-left: 25%;">{{fichaje.horaEntrada}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <ion-button color="secondary" (click)="anadirFichaje(fichaje)" expand="full"
              *ngIf="(clienteActual==null && empleadoActual!=null && empleadoActual.esAdministrador)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button color="secondary" (click)="deleteFichaje(fichaje)" expand="full"
              *ngIf="(clienteActual==null && empleadoActual!=null && empleadoActual.esAdministrador)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="8">

          </ion-col>
        </ion-row>
      </ion-card-content>
      <!--FICHAJE CERRADO Y ACTIVO-->
      <ion-card-content class="cardContenidoFichajeCerrado" *ngIf="fichaje.horaSalida!=null && fichaje.activo">
        <ion-row>
          <ion-col size="4">
            <p *ngIf="!empleadoActual.esAdministrador" class="textoInfo" style="color: black; margin-top: 15%;">{{fichaje.empleado.usuario}}</p>
            <p *ngIf="empleadoActual.esAdministrador" class="textoInfo">{{fichaje.empleado.usuario}}</p>
          </ion-col>
          <ion-col size="8">
            <p style="margin-left: 25%;">{{fichaje.horaEntrada}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <ion-button color="danger" (click)="anadirFichaje(fichaje)" expand="full"
              *ngIf="(clienteActual==null && empleadoActual!=null && empleadoActual.esAdministrador)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button color="danger" (click)="deleteFichaje(fichaje)" expand="full"
              *ngIf="(clienteActual==null && empleadoActual!=null && empleadoActual.esAdministrador)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="8">
            <p style="margin-left: 25%;">{{fichaje.horaSalida}}</p>
          </ion-col>
        </ion-row>
      </ion-card-content>
      <!--FICHAJE DESACTIVADO-->
      <ion-card-content class="cardContenidoFichajeDesactivado" *ngIf="!fichaje.activo">
        <ion-row>
          <ion-col size="4">
            <p *ngIf="!empleadoActual.esAdministrador" class="textoInfo" style="color: black; margin-top: 5%;">{{fichaje.empleado.usuario}}</p>
            <p *ngIf="empleadoActual.esAdministrador" class="textoInfo">{{fichaje.empleado.usuario}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <ion-button color="medium" (click)="anadirFichaje(fichaje)" expand="full"
              *ngIf="(clienteActual==null && empleadoActual!=null && empleadoActual.esAdministrador)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button color="medium" (click)="deleteFichaje(fichaje)" expand="full"
              *ngIf="(clienteActual==null && empleadoActual!=null && empleadoActual.esAdministrador)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </div>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="empleadoActual!=null && empleadoActual.esAdministrador">
    <ion-fab-button (click)="mostrarActivos()">
      <ion-icon *ngIf="!activos" name="checkmark-circle-outline"></ion-icon>
      <ion-icon *ngIf="activos" name="checkmark-circle-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>


<!--CONTENT VISTA FICHAJE EMPLEADO TIENDA Y REPARTIDOR-->
<ion-content *ngIf="empleadoActual!=null && !empleadoActual.esAdministrador">
  <!--VISTA PARA CUANDO NO TENGA FICHAJE ABIERTO-->
  <div *ngIf="fichajes!=null && fichajes.length>0 && fichajes[fichajes.length-1].horaSalida!=null" style="margin-top: 5%;">
    <ion-label>No tienes ningún fichaje abierto. ¡Crea uno!</ion-label>
    <ion-button expand="block" color="success" (click)="nuevoFichaje()">Iniciar</ion-button>
  </div>
  <!--VISTA PARA CUANDO EL EMPLEADO NO TENGA NINGUN FICHAJE ASOCIADO-->
  <div *ngIf="fichajes!=null && fichajes.length==0">
    <ion-label>No tienes ningún fichaje registrado. ¡Crea el primero!</ion-label>
    <ion-button expand="block" color="success" (click)="nuevoFichaje()">Iniciar</ion-button>
  </div>
  
  <!--VISTA PARA CUANDO TENGA UN FICHAJE ABIERTO-->
  <ion-card *ngIf="fichajes!=null && fichajes.length>0 && fichajes[fichajes.length-1].horaEntrada!=null && fichajes[fichajes.length-1].horaSalida==null">
    <ion-card-header style="background-color: greenyellow;">
      <ion-label>Fichaje actual</ion-label>
    </ion-card-header>
    <ion-card-content style="background-color: white;">
      <ion-row>
        <ion-col size="5">
          Fecha entrada:
        </ion-col>
        <ion-col size="7">
          {{fichajes[fichajes.length-1].horaEntrada}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button expand="block" color="danger" (click)="cerrarFichaje()">Cerrar fichaje</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <!--HISTORIAL DE FICHAJES DEL EMPLEADO-->
  <ion-card>
    <ion-card-header style="background-color: white;">
      Historial de fichajes
    </ion-card-header>
    <ion-card-content *ngIf="fichajes!=null && fichajes.length>0" style="background-color: azure;">
      <div *ngFor="let fichaje of fichajes" style="background-color: azure;">
        <ion-item-divider *ngIf="fichaje.horaSalida!=null" style="background-color: azure;">
        <ion-row>
          <ion-col size="12">
            {{fichaje.horaEntrada}} - {{fichaje.horaSalida}}
          </ion-col>
        </ion-row>
        </ion-item-divider>
      </div>
    </ion-card-content>
    <ion-card-content *ngIf="fichajes!=null && fichajes.length==0" style="background-color: azure;">
      Sin registro de fichajes.
    </ion-card-content>
    <ion-card-content *ngIf="fichajes!=null && fichajes.length==1 && fichajes[fichajes.length-1].horaSalida==null" style="background-color: azure;">
      No tiene fichajes cerrados.
    </ion-card-content>
  </ion-card>
</ion-content>