<ion-header>
  <ion-toolbar>
    <!--Waves Container-->
    <div class="header">
      <div>
        <ion-buttons>
          <ion-menu-button menu="empleado" slot="start"></ion-menu-button>
          <ion-title>Fichajes</ion-title>
          <ion-button (click)="anadirFichaje(null)" slot="end"
            *ngIf="(clienteActual==null && empleadoActual!=null && empleadoActual.esAdministrador)">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">

        </ion-buttons>

        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">

          <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>
          <g class="parallax">
            <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
            <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
          </g>

        </svg>
      </div>
      <!--Waves end-->

    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let fichaje of fichajes" class="cardContentStyle">
    <div *ngIf="fichaje.activo || (!fichaje.activo && !activos)">
      <!--FICHAJE ABIERTO Y ACTIVO-->
      <ion-card-content class="cardContenidoFichajeAbierto" *ngIf="fichaje.horaSalida==null && fichaje.activo">
        <ion-row>
          <ion-col size="4">
            <p *ngIf="!empleadoActual.esAdministrador" class="textoInfo" style="color: black; margin-top: 5%;">{{fichaje.empleado.usuario}}</p>
            <p *ngIf="empleadoActual.esAdministrador" class="textoInfo">{{fichaje.empleado.usuario}}</p>
          </ion-col>
          <ion-col size="8">
            <p style="margin-left: 25%;">{{fichaje.horaEntrada}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <ion-button color="secondary" (click)="anadirFichaje(fichaje)" expand="full"
              *ngIf="(clienteActual==null && empleadoActual!=null && empleadoActual.esAdministrador)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button color="secondary" (click)="deleteFichaje(fichaje)" expand="full"
              *ngIf="(clienteActual==null && empleadoActual!=null && empleadoActual.esAdministrador)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="8">

          </ion-col>
        </ion-row>
      </ion-card-content>
      <!--FICHAJE CERRADO Y ACTIVO-->
      <ion-card-content class="cardContenidoFichajeCerrado" *ngIf="fichaje.horaSalida!=null && fichaje.activo">
        <ion-row>
          <ion-col size="4">
            <p *ngIf="!empleadoActual.esAdministrador" class="textoInfo" style="color: black; margin-top: 15%;">{{fichaje.empleado.usuario}}</p>
            <p *ngIf="empleadoActual.esAdministrador" class="textoInfo">{{fichaje.empleado.usuario}}</p>
          </ion-col>
          <ion-col size="8">
            <p style="margin-left: 25%;">{{fichaje.horaEntrada}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <ion-button color="danger" (click)="anadirFichaje(fichaje)" expand="full"
              *ngIf="(clienteActual==null && empleadoActual!=null && empleadoActual.esAdministrador)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button color="danger" (click)="deleteFichaje(fichaje)" expand="full"
              *ngIf="(clienteActual==null && empleadoActual!=null && empleadoActual.esAdministrador)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="8">
            <p style="margin-left: 25%;">{{fichaje.horaSalida}}</p>
          </ion-col>
        </ion-row>
      </ion-card-content>
      <!--FICHAJE DESACTIVADO-->
      <ion-card-content class="cardContenidoFichajeDesactivado" *ngIf="!fichaje.activo">
        <ion-row>
          <ion-col size="4">
            <p *ngIf="!empleadoActual.esAdministrador" class="textoInfo" style="color: black; margin-top: 5%;">{{fichaje.empleado.usuario}}</p>
            <p *ngIf="empleadoActual.esAdministrador" class="textoInfo">{{fichaje.empleado.usuario}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <ion-button color="medium" (click)="anadirFichaje(fichaje)" expand="full"
              *ngIf="(clienteActual==null && empleadoActual!=null && empleadoActual.esAdministrador)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button color="medium" (click)="deleteFichaje(fichaje)" expand="full"
              *ngIf="(clienteActual==null && empleadoActual!=null && empleadoActual.esAdministrador)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </div>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="mostrarActivos()">
      <ion-icon *ngIf="!activos" name="checkmark-circle-outline"></ion-icon>
      <ion-icon *ngIf="activos" name="checkmark-circle-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>