<ion-content class="bg">
<p class="mensaje">{{mensaje}}</p>
<form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
  <ion-card class="formCard">
    <ion-card-content expand="block">
      <!--REGION NOMBRE Y APELLIDOS-->
      <div *ngIf="nombreApellidos">
        <ion-item>
          <ion-label position="floating" color="primary">Nombre</ion-label>
          <ion-input type="text" formControlName="nombre"></ion-input>
          <ion-icon name="text-outline" slot="end" style="margin-top: 15px;"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="primary">Apellidos</ion-label>
          <ion-input type="text" formControlName="apellidos"></ion-input>
          <ion-icon name="text-outline" slot="end" style="margin-top: 15px;"></ion-icon>
        </ion-item>
        <ion-button color="primary" expand="block" [disabled]="!validations_form.controls['nombre'].valid || !validations_form.controls['apellidos'].valid" (click)="siguiente(validations_form.controls['usuario'].value)">Siguiente</ion-button>
      </div>
      <!--REGION USUARIO-->
      <div *ngIf="usuario">
        <ion-item>
          <ion-label position="floating" color="primary">Usuario</ion-label>
          <ion-input type="text" formControlName="usuario" (change)="compruebaUsuario(validations_form.controls['usuario'].value)"></ion-input>
          <ion-icon name="person-circle-outline" slot="end" style="margin-top: 15px;"></ion-icon>
        </ion-item>
        <ion-icon style="color: red;" *ngIf="usuarioValido!=null && !usuarioValido" name="information-circle-outline"></ion-icon><ion-label *ngIf="usuarioValido!=null && !usuarioValido" class="error-message" style="color: red;">El usuario ya existe.</ion-label>
        <ion-button color="primary" expand="block" [disabled]="!validations_form.controls['usuario'].valid || !usuarioValido" (click)="siguiente(validations_form.controls['usuario'].value)">Siguiente</ion-button>
      </div>
      <!--REGION PASSWORDS-->
      <div *ngIf="passwords">
        <ion-item>
          <ion-label position="floating" color="primary">Contraseña</ion-label>
          <ion-input type="password" formControlName="contraseña"></ion-input>
          <ion-icon name="key-outline" slot="end" style="margin-top: 15px;"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="primary">Confirma contraseña</ion-label>
          <ion-input type="password" formControlName="confirmaContraseña" (ionChange)="compruebaContrasena(validations_form.controls['contraseña'].value, validations_form.controls['confirmaContraseña'].value)"></ion-input>
          <ion-icon name="key-outline" slot="end" style="margin-top: 15px;"></ion-icon>
        </ion-item>
        <ion-icon style="color: red;" *ngIf="contrasenaValida!=null && !contrasenaValida" name="information-circle-outline"></ion-icon><ion-label *ngIf="contrasenaValida!=null && !contrasenaValida" class="error-message" style="color: red;">Las contraseñas deben coincidir.</ion-label>
        <ion-button color="primary" expand="block" [disabled]="!validations_form.controls['contraseña'].valid || !validations_form.controls['confirmaContraseña'].valid || !contrasenaValida" (click)="siguiente()">Siguiente</ion-button>
      </div>
      <!--REGION DIRECCION EMAIL-->
      <div *ngIf="direccionEmail">
        <ion-item>
          <ion-label position="floating" color="primary">Dirección</ion-label>
          <ion-input type="text" formControlName="direccion"></ion-input>
          <ion-icon name="compass-outline" slot="end" style="margin-top: 15px;"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="primary">E-mail</ion-label>
          <ion-input type="text" formControlName="email"></ion-input>
          <ion-icon name="at-outline" slot="end" style="margin-top: 15px;"></ion-icon>
        </ion-item>
        <ion-button color="primary" expand="block" [disabled]="!validations_form.controls['direccion'].valid || !validations_form.controls['email'].valid" (click)="siguiente()">Siguiente</ion-button>
      </div>
      <!--REGION DNI FECHA NACIMIENTO-->
      <div *ngIf="dniFechaNacimiento">
        <ion-item>
          <ion-label position="floating" color="primary">DNI</ion-label>
          <ion-input type="text" formControlName="dni"></ion-input>
          <ion-icon name="id-card-outline" slot="end" style="margin-top: 15px;"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="primary">Fecha de nacimiento</ion-label>
          <ion-input type="date" formControlName="fechaNacimiento" displayFormat="DD/MM/YYYY"></ion-input>
          <ion-icon slot="end" name="calendar-outline"></ion-icon>
        </ion-item>
        <ion-button color="primary" expand="block" [disabled]="!validations_form.controls['dni'].valid || !validations_form.controls['fechaNacimiento'].valid" (click)="siguiente()">Siguiente</ion-button>
      </div>
      <!--REGION INFORMACIÓN GENERAL-->
      <div *ngIf="allCorrect"> 
        <ion-item>
          <ion-label color="primary">Nombre: {{validations_form.controls['nombre'].value}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label color="primary">Usuario: {{validations_form.controls['usuario'].value}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label color="primary">Apellidos: {{validations_form.controls['apellidos'].value}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label color="primary">Direccion: {{validations_form.controls['direccion'].value}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label color="primary">E-mail: {{validations_form.controls['email'].value}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label color="primary">DNI: {{validations_form.controls['dni'].value}}</ion-label>
        </ion-item>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-button color="primary" class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid" id="botonRegistro" *ngIf="allCorrect">Registrarse</ion-button>
  <ion-button color="Danger"  expand="block" [disabled]="!allCorrect" id="botonRegistro" *ngIf="allCorrect" (click)="reiniciaPage()">Volver a inicio</ion-button>
</form>
</ion-content>