<ion-header>
  <ion-toolbar>
    <!--Waves Container-->
    <div class="header">
      <div>
        <ion-buttons>
          <ion-menu-button menu="empleado" slot="start"></ion-menu-button>
          <ion-title>Pedidos</ion-title>
        </ion-buttons>

        <ion-buttons slot="end">

        </ion-buttons>

        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">

          <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>
          <g class="parallax">
            <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
            <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
          </g>

        </svg>
      </div>
      <!--Waves end-->

    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let pedido of pedidos" class="cardContentStyle">
    <div *ngIf="pedido.activo || (!pedido.activo && !activos)">
      <!--PEDIDO ONLINE-->
      <ion-card-header *ngIf="pedido.activo && pedido.tipo=='online'" class="headerCardOnline">
        <ion-row>
          <ion-col size="6">
            
          </ion-col>
          <ion-col size="6">
            <ion-avatar style="margin-left: 30%;">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/icommerce-bb5fc.appspot.com/o/PedidoOnlineIcon.png?alt=media&token=5f1b6100-ed18-461e-ab64-5146861ac1eb">
            </ion-avatar>
          </ion-col>
        </ion-row>


      </ion-card-header>
      <!--PEDIDO TIENDA-->
      <ion-card-header *ngIf="pedido.tipo=='tienda'" class="headerCardTienda">
        <ion-row>
          <ion-col size="6">

          </ion-col>
          <ion-col size="6">
            <ion-avatar style="margin-left: 30%;">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/icommerce-bb5fc.appspot.com/o/IconoPedidoEnTienda.png?alt=media&token=4fee903c-2519-4a13-bb21-9898bc1e2c89">
            </ion-avatar>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <!--CONTENIDO ONLINE-->
      <ion-card-content style="background-color: white;" *ngIf="pedido.tipo=='online'">
        <ion-row>
          <ion-col size="6">
            <i class="material-icons" style="width: 15%;">local_mall</i><span style="margin-left: 5%; margin-bottom: 5%;">{{pedido.id}}</span>
          </ion-col>
          <ion-col size="6" *ngIf="pedido.tipo==='online'">
            <ion-icon name="planet-outline"></ion-icon><span style="margin-left: 5%;">{{pedido.tipo}}</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-icon name="arrow-forward-outline"></ion-icon><ion-icon name="time-outline"></ion-icon><span>{{pedido.horaEntrada}}</span>
          </ion-col>
          <ion-col size="6" *ngIf="pedido.horaSalida!=null">
            <ion-icon name="arrow-back-outline"></ion-icon><ion-icon name="time-outline"></ion-icon><span>{{pedido.horaSalida}}</span>
          </ion-col>
          <ion-col size="6" *ngIf="pedido.horaSalida==null">
            <ion-icon name="arrow-back-outline"></ion-icon><ion-icon name="time-outline"></ion-icon><span>Aún no se ha tramitado.</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" *ngIf="pedido.estado==='finalizado'">
            <ion-icon name="stats-chart"></ion-icon><span style="margin-left: 5%;">Finalizado.</span>
          </ion-col>
          <ion-col size="6" *ngIf="pedido.estado==='enCurso'">
            <ion-icon name="stats-chart"></ion-icon><span style="margin-left: 5%;">En curso.</span>
          </ion-col>
          <ion-col size="6" *ngIf="pedido.estado==='pendienteDeEntrega'">
            <ion-icon name="stats-chart"></ion-icon><span style="margin-left: 5%;">Pendiente de entrega.</span>
          </ion-col>
          <ion-col size="6" *ngIf="pedido.estado==='enReparto'">
            <ion-icon name="stats-chart"></ion-icon><span style="margin-left: 5%;">En reparto.</span>
          </ion-col>          
          <ion-col size="6">
            {{pedido.precio | currency:'EUR' }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-icon name="fast-food"></ion-icon><span style="margin-left: 5%;">{{pedido.productos.length}}</span>
          </ion-col>
          <ion-col size="6">
            <ion-icon name="person"></ion-icon><span>{{pedido.cliente.usuario}}</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" *ngIf="pedido.empleado!=null">
            <ion-icon name="person-circle"></ion-icon>Empleado repartidor: {{pedido.empleado.usuario}}
          </ion-col>
          <ion-col size="12" *ngIf="pedido.empleado==null">
            <ion-icon name="person-circle"></ion-icon>Empleado repartidor: Sin empleado asignado.
          </ion-col>
        </ion-row>
        <ion-row *ngIf="pedido.tipo==='online'">
          <ion-col size="12">
            <ion-icon name="compass-outline"></ion-icon>{{pedido.direccion}}
          </ion-col>
        </ion-row>
        <ion-button *ngIf="pedido.estado==='pendienteDeEntrega' && empleadoActual!=null && empleadoActual.esRepartidor" color="success" (click)="repartirPedido(pedido)">Repartir</ion-button>
        <ion-button *ngIf="pedido.estado==='enReparto' && empleadoActual!=null && empleadoActual.esRepartidor" color="danger" (click)="entregarPedido(pedido)">Entregado</ion-button>
      </ion-card-content>
      <!--CONTENIDO TIENDA-->
      <ion-card-content style="background-color: white;" *ngIf="pedido.tipo=='tienda'">
        <ion-row>
          <ion-col size="6">
            <i class="material-icons" style="width: 15%;">local_mall</i><span style="margin-left: 5%; margin-bottom: 5%;">{{pedido.id}}</span>
          </ion-col>
          <ion-col size="6">
            <ion-icon name="storefront-outline"></ion-icon><span style="margin-left: 5%;">{{pedido.tipo}}</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-icon name="arrow-forward-outline"></ion-icon><ion-icon name="time-outline"></ion-icon><span>{{pedido.horaEntrada}}</span>
          </ion-col>
          <ion-col size="6" *ngIf="pedido.horaSalida!=null">
            <ion-icon name="arrow-back-outline"></ion-icon><ion-icon name="time-outline"></ion-icon><span>{{pedido.horaSalida}}</span>
          </ion-col>
          <ion-col size="6" *ngIf="pedido.horaSalida==null">
            <ion-icon name="arrow-back-outline"></ion-icon><ion-icon name="time-outline"></ion-icon><span>Aún no se ha finalizado.</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" *ngIf="pedido.estado==='finalizado'">
            <ion-icon name="stats-chart"></ion-icon><span style="margin-left: 5%;">Finalizado.</span>
          </ion-col>
          <ion-col size="6" *ngIf="pedido.estado==='enCurso'">
            <ion-icon name="stats-chart"></ion-icon><span style="margin-left: 5%;">En curso.</span>
          </ion-col>
          <ion-col size="6" *ngIf="pedido.estado==='pendienteDeEntrega'">
            <ion-icon name="stats-chart"></ion-icon><span style="margin-left: 5%;">Pendiente de entrega.</span>
          </ion-col>
          <ion-col size="6" *ngIf="pedido.estado==='enReparto'">
            <ion-icon name="stats-chart"></ion-icon><span style="margin-left: 5%;">En reparto.</span>
          </ion-col>
          <ion-col size="6">
            {{pedido.precio | currency:'EUR' }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-icon name="fast-food"></ion-icon><span style="margin-left: 5%;">{{pedido.productos.length}}</span>
          </ion-col>
          <ion-col size="6">
            Mesa: <span>{{pedido.mesaID}}</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" *ngIf="pedido.empleado!=null && pedido.tipo==='online'">
            <ion-icon name="person-circle"></ion-icon>Empleado repartidor: {{pedido.empleado.usuario}}
          </ion-col>
          <ion-col size="12" *ngIf="pedido.empleado!=null && pedido.tipo==='tienda'">
            <ion-icon name="person-circle"></ion-icon>Empleado responsable: {{pedido.empleado.usuario}}
          </ion-col>
        </ion-row>
      </ion-card-content>
    </div>
  </ion-card>
</ion-content>