<ion-header>
  <ion-toolbar>
    <!--Waves Container-->
    <div class="header">
      <div>
        <ion-buttons>
          <ion-menu-button menu="empleado" slot="start"></ion-menu-button>
          <ion-title>Cuenta</ion-title>
          <!--<ion-button (click)="anadirFichaje(null)" slot="end">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>-->
        </ion-buttons>
        
        <ion-buttons slot="end">
          
        </ion-buttons>
        
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
          
          <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>
          <g class="parallax">
            <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
            <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
          </g>
          
        </svg>
      </div>
      <!--Waves end-->

    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card style="background-color: #ecedf8;">
  <ion-card-header>
    <ion-title *ngIf="empleadoActual!=null && clienteActual==null">Información empleado</ion-title>
    <ion-title *ngIf="empleadoActual==null && clienteActual!=null">Información cliente</ion-title>
  </ion-card-header>
  <!--INFORMACIÓN CLIENTE-->
  <ion-card-content *ngIf="empleadoActual==null && clienteActual!=null" style="background-color: #1096bf;">
    <ion-item>
      <ion-label>Nombre: {{clienteActual.nombre}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Apellidos: {{clienteActual.apellidos}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Usuario: {{clienteActual.usuario}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Direccion: {{clienteActual.direccion}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>E-mail: {{clienteActual.email}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>DNI: {{clienteActual.dni}}</ion-label>
    </ion-item>
  </ion-card-content>
  <!--INFORMACIÓN EMPLEADO-->
  <ion-card-content *ngIf="empleadoActual!=null && clienteActual==null" style="background-color: #1096bf;">
    <ion-item>
      <ion-label>Nombre: {{empleadoActual.nombre}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Apellidos: {{empleadoActual.apellidos}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Usuario: {{empleadoActual.usuario}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Direccion: {{empleadoActual.direccion}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>E-mail: {{empleadoActual.email}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Móvil: {{empleadoActual.movil}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label *ngIf="empleadoActual.esAdministrador">Tipo: Administrador</ion-label>
      <ion-label *ngIf="!empleadoActual.esAdministrador && !empleadoActual.esRepartidor">Tipo: Tienda</ion-label>
      <ion-label *ngIf="empleadoActual.esRepartidor">Tipo: Repartidor</ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>
</ion-content>
