<ion-content>
<p class="principalText">Iniciar sesión</p>
<ion-row class="usernameRow">
  <ion-col>
    <ion-card class="usernameCard">
      <ion-card-content expand="block" class="info">
        <ion-item>
          <ion-icon name="person-outline" position="floating"></ion-icon>
          <ion-input type="text" placeholder="Nombre de usuario" style="margin-left: 10px;" [(ngModel)]="username"></ion-input>
        </ion-item>
      </ion-card-content>
  </ion-card>
  </ion-col>
</ion-row>
<ion-row class="passwordRow">
  <ion-col>
    <ion-card class="usernameCard">
      <ion-card-content expand="block" class="info">
        <ion-item>
          <ion-icon name="key-outline" position="floating"></ion-icon>
          <ion-input type="password" placeholder="Contraseña" style="margin-left: 10px;" [(ngModel)]="password"></ion-input>
        </ion-item>
      </ion-card-content>
  </ion-card>
  </ion-col>
</ion-row>
<ion-button color="primary" class="submit-btn" expand="block" type="submit" [disabled]="false" style="width: 90%; margin-left: 5%;">Login</ion-button>
</ion-content>
