<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrarModal()">CLOSE</ion-button>
    </ion-buttons>
    <ion-title *ngIf="mesa==null">Nueva mesa</ion-title>
    <ion-title *ngIf="mesa!=null">Editar mesa</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="form-content">
  <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <ion-item>
      <ion-label>Empleado asignado</ion-label>
      <ion-select formControlName="empleadoMesa">
        <ion-select-option value="noAsignado">Sin empleado</ion-select-option>
        <ion-select-option [value]="empleado.id" *ngFor="let empleado of empleados">{{empleado.usuario}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Capacidad</ion-label>
      <ion-input type="number" max="4" min="1" formControlName="capacidad"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Activo</ion-label>
      <ion-checkbox color="primary" formControlName="activo"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Ocupada</ion-label>
      <ion-checkbox color="primary" formControlName="ocupada"></ion-checkbox>
    </ion-item>
    <ion-button color="primary" class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid">
      Aceptar</ion-button>
  </form>

</ion-content>