<ion-content>
  <!--BOTON PARA COMENZAR EL PEDIDO DE LA MESA-->
  <h1 style="margin-left: 10%;">Mesa {{mesa.id}}</h1>
  <ion-button expand="block" color="success" (click)="clientesEnMesa()"
    *ngIf="(mesa.pedidos!=null && mesa.pedidos.length==0) || ( mesa.pedidos!=null && mesa.pedidos.length>0 && mesa.pedidos[mesa.pedidos.length-1].estado==='finalizado')">
    ¡Han llegado los clientes!</ion-button>

  <!--Datos del pedido enCurso actual-->
  <ion-card
    *ngIf="mesa.pedidos!=null && mesa.pedidos.length>0 && mesa.pedidos[mesa.pedidos.length-1].estado==='enCurso'"
    style="background-color: white;">
    <ion-card-header style="background-color: springgreen;">
      <ion-row>
        <ion-col size="6">
          <ion-label>Pedido en curso</ion-label>
        </ion-col>
        <ion-col size="6">
          <span *ngIf="mesa.pedidos[mesa.pedidos.length-1].productos.length!=0">Cuenta:
            {{mesa.pedidos[mesa.pedidos.length-1].precio | currency:'EUR'}}</span>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-title>Productos</ion-title>
      <div *ngIf="mesa.pedidos[mesa.pedidos.length-1].productos.length>0" style="background-color: white;">
        <ion-item *ngFor="let pedidoProducto of mesa.pedidos[mesa.pedidos.length-1].productos">
          <ion-row>
            <ion-col size="12">
              <ion-avatar>
                <img [src]="pedidoProducto.producto.imagen">
              </ion-avatar>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <span
                style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden; margin-left: 20%;">{{pedidoProducto.producto.nombre}}&nbsp;x{{pedidoProducto.cantidad}}</span>
            </ion-col>
          </ion-row>
        </ion-item>
      </div>

      <ion-label *ngIf="mesa.pedidos[mesa.pedidos.length-1].productos.length==0">Sin productos asignados.</ion-label>
      <ion-row>
        <ion-col size="6">
          <ion-button expand="block" style="font-size: smaller;" (click)="addMenu()">
            <ion-icon name="add-circle-outline"></ion-icon>Menu
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" style="font-size: smaller;"
            (click)="addProducto(mesa.pedidos[mesa.pedidos.length-1])">
            <ion-icon name="add-circle-outline"></ion-icon>Producto
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="mesa.pedidos[mesa.pedidos.length-1].productos.length>0">
        <ion-col size="12">
          <ion-button expand="block" color="danger" (click)="finalizarPedido()">Finalizar pedido</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" (click)="cerrarModal()">Volver</ion-button>

  <!--Card lista de pedidos-->
  <ion-card style="background-color: white;">
    <ion-card-header style="background-color: #90b7cd">
      <ion-label style="color: white;">Historial de pedidos</ion-label>
    </ion-card-header>
    <ion-card-content>

      <div *ngFor="let pedido of mesa.pedidos">
        <ion-item
          *ngIf="mesa.pedidos!=null && mesa.pedidos.length>0 && pedido!=undefined && pedido.estado!=undefined && pedido.estado!=='enCurso'">
          <p>Pedido nº:{{pedido.id}}</p>
          <p>Fecha: {{pedido.horaEntrada}}</p>
          <p>Precio: {{pedido.precio | currency:'EUR'}}</p>
        </ion-item>
      </div>
      <ion-label *ngIf="mesa!=null && mesa.pedidos!=null && mesa.pedidos.length==0">No hay pedidos registrados para esta
        mesa.</ion-label>
      <ion-label
        *ngIf="mesa!=null && mesa.pedidos!=null && mesa.pedidos.length==1 && mesa.pedidos[0]!=null && mesa.pedidos[0].estado==='enCurso'">
        No hay pedidos finalizados para esta mesa.</ion-label>
    </ion-card-content>
    <!--CONTENIDO PARA CUANDO LA MESA NO TENGA PEDIDOS-->
  </ion-card>
</ion-content>