<ion-header>
  <ion-toolbar>
    <!--Waves Container-->
    <div class="header">
      <div>
        <ion-buttons>
          <ion-menu-button menu="empleado" slot="start"></ion-menu-button>
          <ion-title style="margin-left: 12%;">Empleados</ion-title>
          <ion-button (click)="anadirEmpleado(null)" slot="end">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        
        <ion-buttons slot="end">
          
        </ion-buttons>
        
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
          
          <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>
          <g class="parallax">
            <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
            <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
          </g>
          
        </svg>
      </div>
      <!--Waves end-->

    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let emp of empleados" class="cardContentStyle">
    <div *ngIf="emp.activo || (!emp.activo && !activos)">
      <ion-card-header *ngIf="emp.activo && emp.esAdministrador" class="headerCardAdmin">
        <ion-card-subtitle>
          <p>
            <ion-chip class="chipAdmin">
              <ion-icon name="infinite"></ion-icon>
              <ion-label>Administrador</ion-label>
            </ion-chip>
          </p>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-header *ngIf="emp.activo && emp.esRepartidor" class="headerCardRepartidor">
        <ion-card-subtitle>
          <p>
            <ion-chip class="chipRepartidor">
              <ion-icon name="bicycle-outline"></ion-icon>
              <ion-label>Repartidor</ion-label>
            </ion-chip>
          </p>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-header *ngIf="emp.activo && (!emp.esAdministrador && !emp.esRepartidor)" class="headerCardTienda">
        <ion-card-subtitle>
          <p>
            <ion-chip class="chipTienda">
              <ion-icon name="cart-outline"></ion-icon>
              <ion-label>Tienda</ion-label>
            </ion-chip>
          </p>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-header *ngIf="!emp.activo && emp.esAdministrador" class="headerCardDesactivada">
        <ion-card-subtitle>
          <p>
            <ion-chip class="chipAdmin">
              <ion-icon name="infinite"></ion-icon>
              <ion-label>Administrador</ion-label>
            </ion-chip>
          </p>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-header *ngIf="!emp.activo && emp.esRepartidor" class="headerCardDesactivada">
        <ion-card-subtitle>
          <p>
            <ion-chip class="chipRepartidor">
              <ion-icon name="bicycle-outline"></ion-icon>
              <ion-label>Repartidor</ion-label>
            </ion-chip>
          </p>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-header *ngIf="!emp.activo && (!emp.esAdministrador && !emp.esRepartidor)" class="headerCardDesactivada">
        <ion-card-subtitle>
          <p>
            <ion-chip class="chipTienda">
              <ion-icon name="cart-outline"></ion-icon>
              <ion-label>Tienda</ion-label>
            </ion-chip>
          </p>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content style="background-color: white;">
        <ion-row>
          <ion-col size="6">
            <ion-icon name="text-outline"></ion-icon><p class="textoInfo">{{emp.nombre}}</p> 
          </ion-col>
          <ion-col size="6">
            <ion-icon name="text-outline"></ion-icon><p class="textoInfo">{{emp.apellidos}}</p> 
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-icon name="person-outline"></ion-icon><p class="textoInfo">{{emp.usuario}}</p> 
          </ion-col>
          <ion-col>
            <ion-icon name="compass-outline"></ion-icon><p class="textoInfo">{{emp.direccion}}</p> 
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-icon name="mail-open-outline"></ion-icon><p class="textoInfo">{{emp.email}}</p> 
          </ion-col>
          <ion-col size="6">
            <ion-icon name="phone-portrait-outline"></ion-icon><p class="textoInfo">{{emp.movil}}</p> 
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-button (click)="anadirEmpleado(emp)" expand="full">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button (click)="deleteEmpleado(emp)" expand="full">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        
      </ion-card-content>
    </div>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="mostrarActivos()">
      <ion-icon *ngIf="!activos" name="checkmark-circle-outline"></ion-icon>
      <ion-icon *ngIf="activos" name="checkmark-circle-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>