<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrarModal()">CLOSE</ion-button>
    </ion-buttons>
    <ion-title *ngIf="menu==null">Nuevo menu</ion-title>
    <ion-title *ngIf="menu!=null">Editar menu</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="form-content">
  <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <ion-item>
      <ion-label position="floating" color="primary">Nombre</ion-label>
      <ion-input type="text" formControlName="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Observaciones</ion-label>
      <ion-textarea formControlName="observaciones"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Activo</ion-label>
      <ion-checkbox color="primary" formControlName="activo"></ion-checkbox>
    </ion-item>
    <ion-button color="primary" class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid">Aceptar</ion-button>
  </form>
 
</ion-content>
